<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/app-images/plex.png" width="286" height="180" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Plex Server</h5>
                <p class="card-text">Access our collection of movies, tv shows, and slime tutorials!</p>
                <a href="http://67.149.193.68:32400/web" class="btn btn-primary">Launch Plex</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/app-images/wip.jpg" width="286" height="180" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Shot Calculator</h5>
                <p class="card-text">Track your shots taken and approximate BAC throughout the night!</p>
                <a href="http://shots.jqmittech.haus" class="btn btn-primary">Get Schwifty!</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/app-images/spot.png" width="286" height="180" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Spotify Tracker</h5>
                <p class="card-text">See a summary of your recent Spotify stats!</p>
                <a href="http://spotify.jqmittech.haus" class="btn btn-primary">See My Stats!</a>
            </div>
        </div>
  </div>      

</div>
